################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Klijent/bin/Debug
/Klijent/obj/Debug
/Server/bin/Debug
/Server/obj/Debug
/Domain/bin/Debug
/Domain/obj/Debug
